
@{
    ViewBag.Title = "Map";
}
<div class="container">

    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d3958.731767035159!2d-78.517467!3d-7.156979000000001!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d-7.1569788999999995!2d-78.5174665!5e0!3m2!1ses-419!2spe!4v1572935468570!5m2!1ses-419!2spe"
                width="1200" height="720" frameborder="0" style="border:0;" allowfullscreen=""></iframe>


    </div>
</div>